.box {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   .colorPicker {
      appearance: none;
      width: 80px;
      height: 80px;
      border: none;
      background-color: transparent;
      cursor: pointer;
   
      &::-webkit-color-swatch {
        border: 2px solid $black;
      }
    }
}